html, body{
    margin: 0;
    height: 100%;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه d
    2. الطول والعرض d
    3. الهوامش d
    4. الحواشي d
    5. نوع العرض d
    6. border radius d */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */
.flex{
    display: flex;
    height: 100%;
}
.container{
    height: 100%;
}

.sidebar{
    /* pxالعرض هنا يجب ان يكون 120 */
    width: 150px;
    background-color: mediumslateblue;
    border-radius: 8px;
}

.header{
    /* pxالطول هنا يجب ان يكون 80 */
    height: 20%;
    background-color: coral;
    border-radius: 8px;
}

.main{
background-color: chocolate;
height: 80%;
border-radius: 8px;
}

a{
    text-decoration: none;
    color: darkgray;
    /* اجعل شكل اللنك من غير خط اسفل الكلام */
}
a:hover{
    color: white;
}

/* .social{
    color: white;
} */

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
    color: white;
}

